.employee-container {
  max-width: 700px;
  margin: 40px auto;
  padding: 25px;
  border-radius: 12px;
  color: #fff;
}

.employee-container h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #f5f5f5;
}

.employee-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
  background-color: #444;
  color: #fff;
}

.form-buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 10px;
}

.btn-save {
  background-color: #4caf50;
  color: white;
  padding: 10px 22px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-cancel {
  background-color: #d9534f;
  color: white;
  padding: 10px 22px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-save:hover {
  background-color: #45a049;
}

.btn-cancel:hover {
  background-color: #c9302c;
}

/*Barra de pesquisa centralizada */
.search-bar {
  margin: 25px auto 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-bar input {
  width: 60%;
  max-width: 400px;
  min-width: 250px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: #444;
  color: #fff;
}

/*Tabela */
.employee-table-container {
  margin-top: 20px;
  text-align: left;
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #272829;
  border-radius: 10px;
  overflow: hidden;
  color: #f8f8f8;
}

.employee-table th,
.employee-table td {
  padding: 0.35rem 2rem;
  border-bottom: 1px solid #3a3b3c;
}

.employee-table th {
  background-color: #1f2021;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.employee-table tr:hover {
  background-color: #333435;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.edit-btn,
.delete-btn {
  border: none;
  padding: 0.3rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  transition: 0.2s;
}

.edit-btn {
  background-color: #007bff;
}

.edit-btn:hover {
  background-color: #0069d9;
}

.delete-btn {
  background-color: #dc3545;
}

.delete-btn:hover {
  background-color: #c82333;
}

/*Paginação */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  gap: 10px;
}

.btn-prev,
.btn-next {
  background-color: #444;
  color: white;
  padding: 5px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-prev:disabled,
.btn-next:disabled {
  background-color: #222;
  cursor: default;
}
