/* Centraliza os cards vertical e horizontalmente */
.product-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh; /* ocupa toda a altura da tela */
  /* background-color: #1e1f20; */
}

/* AAdd Button */
.product-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  margin-bottom: 20px;
}

.add-category-button {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 14px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.add-product-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px; /* espaçamento entre img e texto */
  cursor: pointer;
}

.add-product-button img {
  width: 50px;
  height: 50px;
}

.add-category-button img {
  width: 50px;
  height: 50px;
}

.add-product-button h2 {
  font-size: 18px;
  margin: 0;
}

.add-category-button h2 {
  font-size: 18px;
  margin: 0;
}

.add-product-button:hover, .add-category-button:hover {
  transform: translateY(-4px);
}

/* Search Bar */
.search-bar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-bar {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

.search-bar input:focus {
  border-color: #007bff;
  background-color: #f0f0f0;
  color: black;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

/* Grade responsiva */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  width: 100%; /* controla o tamanho total */
  max-width: 80%;
}

/* Card individual */
.product-card {
  background-color: #272829ff;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  color: #f1f1f1;
}

/* Pequeno efeito hover moderno */
.product-card:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  background-color: rgb(50, 55, 61);
}

/* Imagem (caso volte a usar) */
.product-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

/* BUTTONS */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-next {
  margin: 1rem;
  padding: 0.7rem 2rem;
  border-radius: 15px;
  background-color: rgb(63, 66, 68);
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-back {
  margin: 1rem;
  padding: 0.7rem 2rem;
  border-radius: 15px;
  background-color: rgb(63, 66, 68);
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-back:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  background-color: rgb(122, 93, 136);
}
.btn-next:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  background-color: rgb(87, 117, 138);
}
