.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #2c2c2c;
  padding: 1rem;
  border-radius: 10px;
  width: 500px;
  color: #f8f8f8;
}

.form-group {
  margin-bottom: 0px;
}

input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.save-btn, .cancel-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.save-btn {
  background-color: #4caf50;
  color: white;
}

.cancel-btn {
  background-color: #f44336;
  color: white;
}
